In [1]:
import pandas as pd
import numpy as np

In [38]:
data = pd.read_csv('data/input_day3_1.txt', header=None)

In [39]:
data.columns = ['field']

In [40]:
width = len(data.loc[0].field)

In [41]:
33 % width

2

In [42]:
data['position'] = data.index * 3
data['corr_position'] = data.position.apply(lambda x: x % width)

In [43]:
data['at_position'] = data.apply(lambda row: row.field[row.corr_position], axis=1)

In [44]:
data.at_position.value_counts()

#    270
.     53
Name: at_position, dtype: int64

In [47]:
data.head(15)

                              field  position  corr_position at_position
0   ...............#.#.............         0              0           .
1   ##..#....................#...##         3              3           .
2   ......#..#.#.....#..#.#.##.....         6              6           #
3   .........#...#..............#.#         9              9           #
4   ............#.......##.........        12             12           #
5   ...#.....#.....#...#.....#..#..        15             15           #
6   ..............#..##.#..#......#        18             18           #
7   .##.....#.....#......##.#......        21             21           #
8   .#..........###....#...##....#.        24             24           #
9   .....#....#.#.......#......##..        27             27           #
10  .#....#......#.......#........#        30             30           #
11  ..#.#.......#..##.....##.......        33              2           #
12  ...#.#....#.......#.......#...#        36              5           #
13  ##.##...##..#......#.#.....#..#        39              8           #
14  .#.#.......#..#.#......#...#.#.        42             11           #

In [48]:
data['position'] = data.index * 1
data['corr_position'] = data.position.apply(lambda x: x % width)
data['at_position'] = data.apply(lambda row: row.field[row.corr_position], axis=1)
data.at_position.value_counts()

.    243
#     80
Name: at_position, dtype: int64

In [49]:
data['position'] = data.index * 5
data['corr_position'] = data.position.apply(lambda x: x % width)
data['at_position'] = data.apply(lambda row: row.field[row.corr_position], axis=1)
data.at_position.value_counts()

.    263
#     60
Name: at_position, dtype: int64

In [50]:
data['position'] = data.index * 7
data['corr_position'] = data.position.apply(lambda x: x % width)
data['at_position'] = data.apply(lambda row: row.field[row.corr_position], axis=1)
data.at_position.value_counts()

.    260
#     63
Name: at_position, dtype: int64

In [57]:
data_2 = data.copy()
data_2 = data_2.iloc[::2, :].reset_index(drop=True)
data_2['position'] = data_2.index * 1
data_2['corr_position'] = data_2.position.apply(lambda x: x % width)
data_2['at_position'] = data_2.apply(lambda row: row.field[row.corr_position], axis=1)
data_2.at_position.value_counts()

.    136
#     26
Name: at_position, dtype: int64

In [58]:
26*63*60*80*270

2122848000