In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/input_day5_1.txt', header=None)

In [26]:
data['row_binary'] = data[0].apply(lambda bp: bp[:7].replace('F', '0').replace('B', '1'))
data['seat_binary'] = data[0].apply(lambda bp: bp[7:].replace('L', '0').replace('R', '1'))
data['row_nr'] = data.row_binary.apply(lambda x: int(x, 2))
data['seat'] = data.seat_binary.apply(lambda x: int(x, 2))
data['seat_nr'] = data.apply(lambda row: row.row_nr *8 + row.seat, axis=1)

In [27]:
data

              0 row_binary seat_binary  row_nr  seat  seat_nr
0    FFFFBBBRLR    0000111         101       7     5       61
1    BFBBFBFRRR    1011010         111      90     7      727
2    FFBFBBFRRL    0010110         110      22     6      182
3    BFBFBBFRRR    1010110         111      86     7      695
4    BFBBFFFLLR    1011000         001      88     1      705
..          ...        ...         ...     ...   ...      ...
864  BBFBBFBRRR    1101101         111     109     7      879
865  BBFFFBFRLL    1100010         100      98     4      788
866  BFFBFBBLLL    1001011         000      75     0      600
867  FBFBFFBRRR    0101001         111      41     7      335
868  FFBBBBBRRR    0011111         111      31     7      255

[869 rows x 6 columns]

In [28]:
data.seat_nr.max()

915

In [29]:
possible_seats = np.arange(data.seat_nr.min(), data.seat_nr.max())

In [32]:
left_over_seat = [x for x in possible_seats if x not in data.seat_nr.values]

In [33]:
left_over_seat

[699]