In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data/input_day6_1.txt', header=None, skip_blank_lines=False)

In [3]:
data

                    0
0                  mz
1                  mz
2                mzch
3                 NaN
4         fzmwqgcjylr
...               ...
2156  zwkfytmcaijbelr
2157              xur
2158             rhgu
2159               hr
2160              pru

[2161 rows x 1 columns]

In [42]:
group_counts = []
counts = {}
for idx, line in data.iterrows():
    if ~line.isnull()[0]:
        for c in line[0]:
            counts[c] = 1
    else:
        group_counts += [sum(list(counts.values()))]
        counts = {}
        
group_counts += [sum(list(counts.values()))]

In [43]:
sum(group_counts)

6583

In [44]:
group_counts = []
counts = {}
nr_ppl = 0
for idx, line in data.iterrows():
    if ~line.isnull()[0]:
        nr_ppl += 1
        for c in line[0]:
            if c in counts.keys():
                counts[c] += 1
            else:
                counts[c] = 1
    else:
        group_counts += [np.sum(np.array(list(counts.values())) == nr_ppl)]
        counts = {}
        nr_ppl = 0
        
group_counts += [np.sum(np.array(list(counts.values())) == nr_ppl)]

In [45]:
sum(group_counts)

3290